<%- include('../../partials/header')%>
<%- include('../../partials/nav.ejs')%>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-title">
            <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/categories/save">
                <input type="text" class="form-control" name="title" placeholder="Definao titulo do Artigo">
                <textarea class="form-control" placeholder="Escreva o seu artigo" name="body"></textarea>
                <button class="btn btn-success mt-3">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer')%></hr>